/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    background-color: gray;
}
    #wrapper {
        display: grid;
        grid-template-columns: 3fr 3fr;
        grid-gap: 10px;
        grid-template-areas:
            "header header"
            "list form"
            "list form"
            "list form";
    }


.main-head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-area: header;
    height: 70px;
    text-align: center;
    background-image: url(./assets/raychan.jpg);
    background-size: cover;
    /* transform: rotate(180deg); */
}
.main-head > img {
    margin-left: 10px;
    background-image: url(./assets/cosmic-joes.png);
    background-size: cover;
    height: 70px;

}
.main-head > .iconUser {
    margin-left: 1180px;
    background-image: url(./assets/Usericon.png);
    background-size: cover;
    height: 50px;
    border: solid 5px white;
    border-radius: 30px;
}
#gameHolder > li img{
    width: 700px;
}  
#gameHolder{
    grid-area: list;
    list-style-type: none;
}
.gameForm {
    grid-area: form;
}
#gameHolder > li {
    list-style-type: none;
}